{% extends 'mail_server/base.html' %}

{% block content %}
<div class="container">
  <h2>{% if form.instance.pk %}Редактировать письмо{% else %}Создать новуе письмо{% endif %}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-sm btn-outline-success">
      {% if form.instance.pk %}Сохранить изменения{% else %}Создать{% endif %}
    </button>
    <a href="{% url 'mail_server:letter_list' %}" class="btn btn-sm btn-outline-danger">Отмена</a>
  </form>
</div>
{% endblock %}